body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

/* Navbar */
nav {
  background: black;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/* Card */
.card {
  background: white;
  width: 320px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Headings */
h1 {
  color: darkblue;
}

/* List */
ul {
  list-style: none;
  padding: 0;
}

/* Inputs */
input, textarea {
  width: 90%;
  padding: 8px;
}

/* Buttons */
button {
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}